<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="logo">Unit Converter</div>
        <div class="auth-buttons">
            <a href="/login">Login</a>
            <a href="/register">Signup</a>
        </div>
    </div>

    <div class="main-heading">
        <div class="glow-box">
            <h1>Unit Converter</h1>
        </div>
    </div>
</body>
</html>
